.draggable-modal {
  display: flex !important;
  align-items: flex-start;
  margin: 0;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.dragg-it {
  cursor: move;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}
.modal-content {
  padding: 15px;
}