* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flax;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    justify-content: space-between;
    align-items: center;
}
.post__btns {
    display: flex;
}


.box {
    background-color: var(--box-bg);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}


.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}