.formLoginBase {
    display: flex;
    justify-content: center;
    align-items: center;
}
.formLogin {
     padding-top: 20%;
     width: 400px;
}
.formLogin h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.formLogin button {
    padding: 10px;
    font-size: larger;
    font-weight: bold;
}